<%- include('../partials/header') %>
<div class="container mt-5">
  <h1>Add New Record for <%= patient.name %></h1>
  <form method="POST" action="/patients/<%= patient._id %>?_method=PUT">
    <div class="mb-3">
      <label class="form-label">Stage</label>
      <select name="stage" class="form-select">
        <option value="Triage">Triage</option>
        <option value="Medical Treatment">Medical Treatment</option>
        <option value="Discharged">Discharged</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Notes</label>
      <textarea name="notes" class="form-control" rows="4" required></textarea>
    </div>
    <button class="btn btn-success">Update Record</button>
  </form>
</div>
<%- include('../partials/footer') %>
